@using Aroma_Shop.Application.Utilites
@model IEnumerable<Aroma_Shop.Domain.Models.ProductModels.Order>

@{
    ViewData["Title"] = "سفارشات";
}

<div class="h2 mt-3">
    <h1 class="h2 d-inline">سفارشات</h1>
</div>
<hr />
<form asp-action="Index" method="get">
    <div class="input-group mb-4">
        <input name="search" type="text" value="@ViewBag.search" class="form-control" placeholder="جستجو..." aria-label="جستجو...">
        <button type="submit" class="input-group-text" id="search-textbox">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
        </button>
    </div>
</form>
@if (!Convert.ToBoolean(ViewBag.isEmpty))
{
    <table class="table table-responsive-lg table-responsive-sm table-striped table-bordered text-center table-light">
        <thead>
            <tr>
                <th class="cart-item-cells">سفارش</th>
                <th class="cart-item-cells">تاریخ</th>
                <th class="cart-item-cells">وضعیت</th>
                <th class="cart-item-cells">مجموع</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {

                <tr>
                    <td class="cart-item-cells align-middle">@($"{order.OrderId} - {order.OwnerUser.UserDetails.FirstName} {order.OwnerUser.UserDetails.LastName}")</td>
                    <td class="cart-item-cells align-middle">@(order.OrderRegistrationDate==null?order.CreateTime.ToSolarWithTime():order.OrderRegistrationDate.ToSolarWithTime())</td>
                    <td class="cart-item-cells align-middle">@order.OrderStatus</td>
                    <td class="align-middle">
                        <div class="admin-products-actions">
                            <a class="btn text-light btn-primary" asp-action="EditOrder" asp-route-orderId="@order.OrderId">مشاهده</a>
                            <button class="btn text-light btn-primary" data-toggle="modal" data-target="#deletemodal@(order.OrderId)">حذف</button>
                            <div class="modal fade" id="deletemodal@(order.OrderId)" tabindex="-1" role="dialog" aria-labelledby="#deletemodal@(order.OrderId)" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title text-center" id="deletemodalLabel">حذف سفارش</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h1 class="text-info">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="auto" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                    <path class="text-danger" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                </svg>
                                            </h1>
                                            <p class="lead">آیا از حذف سفارش با شناسه <span class="text-warning">@order.OrderId</span> مطمئن هستید ؟</p>
                                            <p class="text-info">تمامی دسته های فرزند حذف خواهند شد</p>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <a type="button" class="btn btn-danger" asp-action="DeleteOrder" asp-route-orderId="@order.OrderId">حذف</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("PartialPaging", "Categories")
}
else
{
    <div class="alert alert-danger text-left" role="alert">دسته ای برای نمایش وجود ندارد</div>
}