@using System.IO
@model Aroma_Shop.Application.ViewModels.Product.AddEditProductViewModel
@{
    ViewData["Title"] = "ویرایش محصول";
}

<div class="h2 mt-3">
    <h1 class="h2 d-inline">ویرایش محصول</h1>
    <a class="btn btn-warning float-left" asp-controller="Product" asp-action="Index">بازگشت</a>
</div>
<hr>
<div class="row">
    <div class="col-lg-9 col-md-11 col-sm-12 m-auto">
        <form asp-action="EditProduct" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label" for="ProductName">نام</label>
                <input class="form-control" asp-for="ProductName">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">شرح کوتاه</label>
                <textarea asp-for="ProductShortDescription" rows="3" class="form-control">
                </textarea>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label">شرح</label>
                <textarea id="matn" asp-for="ProductDescription" class="form-control">
                </textarea>
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="ProductPrice">قیمت</label>
                <input class="form-control" asp-for="ProductPrice">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="ProductQuantityInStock">تعداد</label>
                <input class="form-control" asp-for="ProductQuantityInStock">
                <span class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                    <label>دسته بندی ها</label>
                    <select class="form-control" multiple size="9"  multiple aria-label="select example" asp-for="ProductCategoriesId">
                        @foreach (var c in Model.ProductCategories)
                        {
                            <option value="@c.Value" selected="@c.Selected">@c.Text</option>
                        }
                    </select>
                </div>
            <div class="form-group">
                <label>انتخاب تصاویر</label>
                <label for="attachment" class="w-100 text-center">
                    <a class="upload-btn mb-2" role="button" aria-disabled="false"><i class="bi bi-cloud-arrow-up-fill text-info display-3"></i></a>
                </label>
                <input type="file" asp-for="ProductImagesFiles" accept=".png,.jpg,.jpeg" id="attachment" class="d-none" multiple />
                <p id="files-area">
                    <span id="filesList">
                        <span id="files-names">
                            @foreach (var currentProductImage in Model.CurrentProductImages)
                            {
                                <input type="checkbox" name="DeletedProductImagesIds" value="@currentProductImage.ImageId" hidden />
                                <span class="file-block">
                                    <span class="delete-currentProductImage badge badge-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </span><img class="productimages" src="~/img/Product/@currentProductImage.ImagePath" alt="@currentProductImage.ImageId">
                                </span>
                            }
                        </span>
                    </span>
                </p>
            </div>
            <label>مشخصات</label>
            <div class="form-group border border-secondary p-2 border-dark product-informations">
                @for (int i = 0; i < Model.InformationsNames.Count(); i++)
                {
                    <div class='row mb-2'>
                        <div class='col'><input type='text' name='InformationsNames' class='form-control' value="@Model.InformationsNames.ElementAtOrDefault(i)" placeholder='نام'></div>
                        <div class='col'><input type='text' name='InformationsValues' class='form-control' value="@Model.InformationsValues.ElementAtOrDefault(i)" placeholder='مقدار'></div>
                        <div class='col'><button type='button' class='btn btn-danger remove-information-btn'><i class='fa fa-trash' aria-hidden='true'></i></button></div>
                    </div>
                }
                <button id="add-information-btn" type="button" class="btn btn-success">افزودن</button>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-block btn-primary">
                <input type="hidden" name="productCategoriesKey" id="selectedItems" />
            </div>
            <div class="alert alert-danger text-left mt-3" role="alert" asp-validation-summary="All"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendors/ckeditor/ckeditor.js"></script>
    @*Manage Current Product Images*@
    <script>
        $(".delete-currentProductImage").on("click",
            function () {
                $(this).parent().prev().attr("checked", "checked");
                $(this).parent().remove();
            });
    </script>
    @*Manage Images*@
    <script>
        const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', { class: 'file-block' }),
                    fileName = $('<img/>', { class: 'productimages', src: URL.createObjectURL(this.files.item(i)), alt: this.files.item(i).name });
                fileBloc.append('<span class="file-delete badge badge-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">\r\n  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\r\n</svg></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
                //document.getElementById("lol").src = URL.createObjectURL(this.files.item(i));
            };
            // Ajout des fichiers dans l'objet DataTransfer
            for (let file of this.files) {
                dt.items.add(file);
            }
            // Mise à jour des fichiers de l'input file après ajout
            this.files = dt.files;

            // EventListener pour le bouton de suppression créé
            $('span.file-delete').click(function () {
                let name = $(this).next('img.productimages').attr("alt");
                // Supprimer l'affichage du nom de fichier
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                document.getElementById('attachment').files = dt.files;
            });
        });
    </script>

    <script type="text/javascript">
        CKEDITOR.replace('matn',
            {
                language: 'fa',
                font_defaultLabel: "Samim"
            });
        CKEDITOR.addCss(".cke_editable{font-family: 'Samim', sans-serif;}");

        //Add Informations Button Scripts
        var content = "<div class='row mb-2'><div class='col' ><input type='text' name='InformationsNames' class='form-control' placeholder='نام'></div><div class='col'><input type='text' name='InformationsValues' class='form-control' placeholder='مقدار'></div><div class='col'><button type='button' class='btn btn-danger remove-information-btn'><i class='fa fa-trash' aria-hidden='true'></i></button></div></div>";
        $("#add-information-btn").click(function () {
            $(content).insertBefore("#add-information-btn");
        });
        $(document).on("click",
            ".remove-information-btn",
            function () {
                $(this).parent().parent().remove();
            });
    </script>
}