@using Aroma_Shop.Application.Utilites
@model Aroma_Shop.Application.ViewModels.User.UserDetailViewModel

@{
    ViewData["Title"] = $"کاربر {Model.User.UserName}";
}
<div class="h2 mt-3">
    <h1 class="h2 d-inline">کاربر</h1>
    <a class="btn btn-warning float-left" asp-controller="User" asp-action="Index">بازگشت</a>
</div>
<hr>
<div class="row">
    <div class="col-lg-7 col-md-9 col-sm-12 m-auto">
        <div class="form-group">
            <label class="control-label">نام کاربری</label>
            <input class="form-control" asp-for="User.UserName" readonly>
        </div>
        <div class="form-group">
            <label class="control-label">ایمیل</label>
            <input class="form-control" asp-for="User.Email" readonly>
        </div>
        <div class="form-group">
            <label class="control-label">مقام</label>
            <input class="form-control" asp-for="UserRole" readonly />
        </div>
        <div class="form-group">
            <label class="control-label">نام</label>
            <input class="form-control" asp-for="User.UserDetail.FirstName" readonly>
        </div>
        <div class="form-group">
            <label class="control-label">نام خانوادگی</label>
            <input class="form-control" asp-for="User.UserDetail.LastName" readonly>
        </div>
        <div class="form-group">
            <label class="control-label">استان</label>
            <input class="form-control" asp-for="User.UserDetail.UserProvince" readonly>
        </div>
        <div class="form-group">
            <label class="control-label">شهر</label>
            <input class="form-control" asp-for="User.UserDetail.UserCity" readonly>
        </div>
        <div class="form-group">
            <label class="control-label">آدرس</label>
            <textarea asp-for="User.UserDetail.UserAddress" rows="3" class="form-control none-resize" readonly>
                </textarea>
        </div>
        <div class="form-group">
            <label class="control-label" type="hidden">کد پستی</label>
            <input class="form-control" type="number" asp-for="User.UserDetail.UserZipCode" readonly>
        </div>
        <div>
            <h1 class="py-3">دیدگاه ها</h1>
            <table class="table table-striped table-bordered text-center table-light">
                <thead>
                <tr>
                    <th class="cart-item-cells">دیدگاه</th>
                    <th class="cart-item-cells">در پاسخ به</th>
                    <th class="cart-item-cells">در تاریخ</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var comment in Model.User.UserComments)
                {
                    <tr>
                        <td class="cart-item-cells align-middle">@comment.CommentDescription</td>
                        <td class="cart-item-cells align-middle">
                            <a class="text-info" asp-controller="Product" asp-action="EditProduct" asp-route-productId="@comment.Product.ProductId">@comment.Product.ProductName</a>
                            <hr />
                            <a class="text-info" asp-area="" asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@comment.Product.ProductId">نمایش محصول</a>
                        </td>
                        <td class="cart-item-cells align-middle">@comment.SubmitTime.ToSolarWithTime()</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}