@using Aroma_Shop.Application.Utilites
@model Aroma_Shop.Application.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "خانه";
}

@section Styles
{
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
}

<!--================ Hero banner start =================-->
@if (Model.Banners.NotNullOrEmpty())
{
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                @{
                    var bannersCount =
                        Model
                            .Banners
                            .Count();
                }
                @for (int i = 1; i < bannersCount; i++)
                {
                    <li data-target="#carouselExampleCaptions" data-slide-to="@i"></li>
                }
            </ol>
            <div class="carousel-inner">
                @{
                    var firstBanner =
                        @Model.Banners.FirstOrDefault();
                }
                <div class="carousel-item active">
                    <a href="@firstBanner.BannerLink">
                        <img src="/img/@firstBanner.BannerImage.ImagePath" class="d-block w-100 banner-slider-img" alt="@firstBanner.BannerTitle">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        @Html.Raw(firstBanner.BannerDescription)
                    </div>
                </div>
                @foreach (var banner in Model.Banners.Skip(1))
                {
                    <div class="carousel-item">
                        <a href="@banner.BannerLink">
                            <img src="/img/@banner.BannerImage.ImagePath" class="d-block w-100 banner-slider-img" alt="@banner.BannerTitle">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            @Html.Raw(banner.BannerDescription)
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">بعدی</span>
            </a>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">قبلی</span>
            </a>
        </div>
    </section>
}
else
{
    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="img/home/hero-banner.png" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                        <h4>خرید خوب است</h4>
                        <h1>محصولات ویژه را مشاهده کنید</h1>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
                        <a class="button button-hero" href="#">مشاهده</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!--================ Hero banner end =================-->
<!--================ Hero Carousel start =================-->
<section class="section-margin mt-0">
    <div class="owl-carousel owl-theme hero-carousel">
        <div class="hero-carousel__slide">
            <img src="img/home/hero-slide1.png" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>Wireless Headphone</h3>
                <p>Accessories Item</p>
            </a>
        </div>
        <div class="hero-carousel__slide">
            <img src="img/home/hero-slide2.png" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>Wireless Headphone</h3>
                <p>Accessories Item</p>
            </a>
        </div>
        <div class="hero-carousel__slide">
            <img src="img/home/hero-slide3.png" alt="" class="img-fluid">
            <a href="#" class="hero-carousel__slideOverlay">
                <h3>Wireless Headphone</h3>
                <p>Accessories Item</p>
            </a>
        </div>
    </div>
</section>
<!--================ Hero Carousel end =================-->
<!-- ================ holders section end ================= -->
<div class="mt-5">
    <h2 class="text-center mb-5">چرا از فروشگاه ما خرید می کنید؟</h2>
    <div class="row mx-5">
        <div class="col d-flex flex-column flex-wrap mr-2 my-3">
            <i class="bi bi-bag text-secondary text-center h1"></i>
            <div class="text-center">
                فروشگاه کامل لوازم مورد نیاز شما
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap mr-2 my-3">
            <i class="bi bi-box-seam text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                ارسال در همان روز برای همه سفارشات
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap mr-2 my-3">
            <i class="bi bi-truck text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                تحویل رایگان برای همه سفارشات در دسترس است
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap my-3 my-3">
            <i class="bi bi-telephone text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                مشاوره حرفه ای و پشتیبانی عالی
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap ml-2 my-3">
            <i class="bi bi-lightning text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                ارسال در همان روز برای همه سفارشات
            </div>
        </div>
    </div>
</div>
<!-- ================ holders section end ================= -->
<!-- ================ trending product section start ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>بهترین محصولات در فروشگاه موجود است</p>
            <h2><span class="section-intro__style">محصولات</span> پرطرفدار</h2>
        </div>

        @if (Model.Products.Any())
        {
            await Html.RenderPartialAsync("PartialShowPopularProducts", Model.Products);
        }

    </div>
</section>
<!-- ================ trending product section end ================= -->
<!-- ================ offer section start ================= -->
<section class="offer" id="parallax-1" data-anchor-target="#parallax-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="offer__content text-center">
                    <h3>تا 50% تخفیف</h3>
                    <h4>جشنواره زمستانی</h4>
                    <p>خرید کنید ، لذت ببرید !</p>
                    <a class="button button--active mt-3 mt-xl-4" href="#">خرید</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ offer section end ================= -->

@section Scripts
{
    <script src="~/vendors/ckeditor5/build/ckeditor.js"></script>
    <script src="~/vendors/skrollr.min.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>

    <script>
        //------- hero carousel -------//
        $(".hero-carousel").owlCarousel({
            rtl:true,
            items:3,
            margin: 10,
            autoplay:false,
            autoplayTimeout: 5000,
            loop:true,
            nav:false,
            dots:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items: 2
                },
                810:{
                    items:3
                }
            }
        });

        //------- Best Seller Carousel -------//
        if($('.owl-carousel').length > 0){
            $('#bestSellerCarousel').owlCarousel({
                rtl:true,
                loop:true,
                margin:30,
                nav:true,
                navText: ["<i class='ti-arrow-left'></i>","<i class='ti-arrow-right'></i>"],
                dots: false,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items: 2
                    },
                    900:{
                        items:3
                    },
                    1130:{
                        items:4
                    }
                }
            })
        }

        //------- single product area carousel -------//
        $(".s_Product_carousel").owlCarousel({
            items:1,
            autoplay:false,
            autoplayTimeout: 5000,
            loop:true,
            nav:false,
            dots:false
        });
    </script>
}
