@using Aroma_Shop.Application.Utilites
@model Aroma_Shop.Application.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "خانه";
}

<!--================ Hero banner start =================-->
@{
    var primaryBanners =
        Model
            .Banners
            .Where(p => p.IsPrimaryBanner);

}
@if (primaryBanners.Any())
{
    <section class="mb-2">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                @for (int i = 1; i < primaryBanners.Count(); i++)
                {
                    <li data-target="#carouselExampleCaptions" data-slide-to="@i"></li>
                }
            </ol>
            <div class="carousel-inner">
                @{
                    var firstBanner =
                        primaryBanners.FirstOrDefault();
                }
                <div class="carousel-item active">

                    <a href="@firstBanner.BannerLink" class="w-100">
                        <img src="/img/@firstBanner.BannerImage.ImagePath" alt="@firstBanner.BannerTitle" class="d-block w-100 banner-slider-img">
                    </a>

                    <div class="carousel-caption d-none d-md-block">
                        @Html.Raw(firstBanner.BannerDescription)
                    </div>
                </div>
                @foreach (var primaryBanner in primaryBanners.Skip(1))
                {
                    <div class="carousel-item">
                        <a href="@primaryBanner.BannerLink" class="w-100">
                            <img src="/img/@primaryBanner.BannerImage.ImagePath" alt="@primaryBanner.BannerTitle" class="d-block w-100 banner-slider-img">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            @Html.Raw(primaryBanner.BannerDescription)
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">بعدی</span>
            </a>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">قبلی</span>
            </a>
        </div>
    </section>
}
else
{
    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="img/home/hero-banner.png" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                        <h4>خرید خوب است</h4>
                        <h1>محصولات ویژه را مشاهده کنید</h1>
                        <p>لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
                        <a class="button button-hero" href="/Products">مشاهده</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!--================ Hero banner end =================-->
<!--================ Hero Carousel start =================-->
<section class="section-margin mt-0">
    <div class="owl-carousel owl-theme hero-carousel">
        @{
            var secondaryBanners =
                Model
                    .Banners
                    .Where(p => !p.IsPrimaryBanner);
        }

        @foreach (var secondaryBanner in secondaryBanners)
        {
            <div class="hero-carousel__slide">
                <img src="~/img/@secondaryBanner.BannerImage.ImagePath" alt="" class="img-fluid">
                <a href="@secondaryBanner.BannerLink" class="hero-carousel__slideOverlay">
                    <h3>@secondaryBanner.BannerTitle</h3>
                    @*<p>@Html.Raw(secondaryBanner.BannerDescription)</p>*@
                </a>
            </div>
        }
    </div>
</section>
<!--================ Hero Carousel end =================-->
<!-- ================ trending product section start ================= -->

@{
    var doesModelHasAnyProduct =
        Model.Products.Any();
}

@if (doesModelHasAnyProduct)
{
    await Html.RenderPartialAsync("PartialShowPopularProducts", Model.Products);
}
<!-- ================ trending product section end ================= -->
<!-- ================ offer section start ================= -->
<section class="offer" id="parallax-1" data-anchor-target="#parallax-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="offer__content text-center">
                    <h3>با کد تخفیف BestShop</h3>
                    <h4>تا 100 هزار تومان تخفیف</h4>
                    <p>خرید کنید ، لذت ببرید !</p>
                    <a class="button button--active mt-3 mt-xl-4" asp-controller="Product" asp-action="Index">خرید</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ offer section end ================= -->
<!-- ================ Best Selling item  carousel start================= -->
@if (doesModelHasAnyProduct)
{
    await Html.RenderPartialAsync("PartialBestSellingProducts", Model.Products);
}
<!-- ================ Best Selling item  carousel end ================= -->
<!-- ================ holders section end ================= -->
<div class="my-5">
    <h2 class="text-center mb-5">چرا از فروشگاه ما خرید می کنید؟</h2>
    <div class="row mx-5">
        <div class="col d-flex flex-column flex-wrap ml-2 my-3">
            <i class="bi bi-bookmark-check text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                تخفیف های باور نکردنی
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap mr-2 my-3">
            <i class="bi bi-bag text-secondary text-center h1"></i>
            <div class="text-center">
                فروشگاه کامل لوازم مورد نیاز شما
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap mr-2 my-3">
            <i class="bi bi-box-seam text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                ارسال در همان روز برای همه سفارشات
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap mr-2 my-3">
            <i class="bi bi-truck text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                تحویل رایگان برای همه سفارشات در دسترس است
            </div>
        </div>
        <div class="col d-flex flex-column flex-wrap my-3 my-3">
            <i class="bi bi-telephone text-secondary text-center h1"></i>
            <div class="text-center holder-texts">
                مشاوره حرفه ای و پشتیبانی عالی
            </div>
        </div>
    </div>
</div>
<!-- ================ holders section end ================= -->
<!-- ================ Subscribe section start ================= -->
<section class="subscribe-position">
    <div class="container">
        <div class="subscribe text-center">
            <h3 class="subscribe__title">هر کجا که هستید ، به روز شوید</h3>
            <p class="text-secondary">عضو خبرنامه ما شوید</p>
            <div id="mc_embed_signup">
                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="@Url.Action("AddNewsletter","Media")" data-ajax-complete="completed" class="subscribe-form form-inline mt-5 pt-1">
                    <div class="form-group ml-sm-auto">
                        <input class="form-control mb-1" placeholder="ایمیل خود را وارد نمایید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل خود را وارد نمایید'" name="customerEmail">
                    </div>
                    <button class="button button-subscribe mb-1 subscribe-form-button" type="submit">ثبت</button>
                </form>
                <div class="success-message text-success mt-3" style="display: none"></div>
                <div class="error-message text-danger mt-3" style="display: none"></div>
            </div>
        </div>
    </div>
</section>
<!-- ================ Subscribe section end ================= -->

@section Scripts
{
    <script src="~/vendors/ckeditor5/build/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        completed = function (xhr) {
            if (xhr.responseText === "Successful") {
                $(".subscribe-form input").val("");
                $(".error-message").hide();
                $(".success-message").text("ایمیل شما با موفقیت ثبت شد");
                $(".success-message").show();
            }
            else if (xhr.responseText === "EmptyError") {
                $(".subscribe-form input").val("");
                $(".success-message").hide();
                $(".error-message").text("لطفا ایمیل خود را وارد نمایید");
                $(".error-message").show();
            }
            else if (xhr.responseText === "InvalidEmail") {
                $(".subscribe-form input").val("");
                $(".success-message").hide();
                $(".error-message").text("ایمیل وارد شده معتبر نمی باشد");
                $(".error-message").show();
            }
            else if (xhr.responseText === "CustomerEmailExist") {
                $(".subscribe-form input").val("");
                $(".success-message").hide();
                $(".error-message").text("ایمیل قبلا ثبت شده است");
                $(".error-message").show();
            }
            else if (xhr.responseText === "MoreThan256Character") {
                $(".subscribe-form input").val("");
                $(".success-message").hide();
                $(".error-message").text("حداکثر 256 کارکتر مجاز می باشد");
                $(".error-message").show();
            }
            else if (xhr.responseText === "Failed") {
                $(".subscribe-form input").val("");
                $(".success-message").hide();
                $(".error-message").text("مشکلی در زمان ثبت ایمیل رخ داد");
                $(".error-message").show();
            }
            $("input[name=__RequestVerificationToken]").remove();
            $(".subscribe-form").append('@Html.AntiForgeryToken()');
        };
    </script>
}
