@using System.Text.RegularExpressions
@model Aroma_Shop.Application.ViewModels.Product.ProductViewModel
@using Aroma_Shop.Application.Interfaces
@using Aroma_Shop.Application.Utilites
@using Aroma_Shop.Domain.Models.FileModels
@using Newtonsoft.Json

@inject IAccountService AccountService
@inject IProductService ProductService

@{
    ViewData["Title"] = Model.Product.ProductName;
    var isUserSignedIn =
        AccountService.IsUserSignedIn();
}

<section class="blog-banner-area" id="contact">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>@Model.Product.ProductName</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-dark" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item"><a class="text-dark" asp-controller="Product" asp-action="">محصولات</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Product.ProductName</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            @{
                                string productImagePath;
                                if (Model.Product.Images.Any())
                                {
                                    productImagePath = $"/img/{Model.Product.Images.FirstOrDefault().ImagePath}";
                                }
                                else
                                {
                                    productImagePath = Image.DefaultImagePath;
                                }
                            }
                            <img class="product-image-detail" src="@productImagePath" alt="First slide">
                        </div>
                        @if (Model.Product.Images.Count > 1)
                        {
                            @foreach (var productImage in Model.Product.Images.Skip(1))
                            {
                                <div class="carousel-item">
                                    <img class="product-image-detail" src="~/img/@productImage.ImagePath" alt="First slide">
                                </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="40" height="40" fill="currentColor" class="text-dark bi bi-arrow-left-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                        <span class="sr-only">قبلی</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="40" height="40" fill="currentColor" class="text-dark bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                        </svg>
                        <span class="sr-only">بعدی</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    @if (Model.Product.IsSimpleProduct)
                    {
                        <h3>@Model.Product.ProductName</h3>

                        var simpleProductPriceLabel = "";

                        if (Model.Product.ProductPrice != 0 && Model.Product.ProductQuantityInStock != 0)
                        {
                            simpleProductPriceLabel = $"{Model.Product.ProductPrice} تومان";

                        }
                        else if (Model.Product.ProductPrice == 0 && Model.Product.ProductQuantityInStock > 0)
                        {
                            simpleProductPriceLabel = "رایگان";
                        }
                        else
                        {
                            simpleProductPriceLabel = "";
                        }

                        <h2>@simpleProductPriceLabel</h2>
                        <ul class="list">
                            <li>
                                <span>دسته :</span>
                                @foreach (var category in Model.Product.Categories)
                                {
                                    <a>@category.CategoryName</a> <span> , </span>
                                }
                            </li>
                            <li>
                                وضعیت : @if (Model.Product.ProductQuantityInStock > 0)
                                {
                                    <span class='text-success font-weight-bold'>موجود</span>
                                }
                                else
                                {
                                    <span class='text-danger font-weight-bold'>ناموجود</span>
                                }
                            </li>
                        </ul>
                        <p class="mb-4">
                            @(!string.IsNullOrEmpty(Model.Product.ProductShortDescription)? Model.Product.ProductShortDescription:"")
                        </p>
                        if (Model.Product.ProductQuantityInStock > 0)
                        {
                            <div class="product_count">
                                <label for="qty">تعداد :</label>
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button">
                                    <i class="ti-angle-up"></i>
                                </button>
                                <input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button">
                                    <i class="ti-angle-down"></i>
                                </button>
                                <a id="btn-addtocart" class="button primary-btn" href="#">افزودن به سبد خرید</a>
                            </div>
                        }
                        @if (isUserSignedIn)
                        {
                            var isProductInLoggedUserFavoriteProducts =
                                await ProductService.IsProductInLoggedUserFavoriteProducts(Model.Product.ProductId);

                            @if (!isProductInLoggedUserFavoriteProducts)
                            {
                                <div class="card_area d-flex align-items-center">
                                    <a class="icon_btn" asp-action="AddProductToUserFavoriteProducts" asp-route-favoriteProductId="@Model.Product.ProductId" data-toggle="tooltip" data-placement="top" title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                                </div>

                            }
                            else
                            {
                                <div class="card_area d-flex align-items-center">
                                    <a class="icon_btn" asp-action="RemoveProductFromUserFavoriteProducts" asp-route-favoriteProductId="@Model.Product.ProductId" data-toggle="tooltip" data-placement="top" title="حذف از علاقه مندی ها"><i class="bi bi-heart-fill"></i></a>
                                </div>
                            }
                        }
                        else
                        {
                            var returnUrl =
                                Url.Action("ProductDetails", "Product", new { productId = Model.Product.ProductId });
                            <div class="card_area d-flex align-items-center">
                                <a class="icon_btn" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@returnUrl" data-toggle="tooltip" data-placement="top" title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                            </div>
                        }
                    }
                    else
                    {
                        <h3>@Model.Product.ProductName</h3>

                        var productAttributePriceLabel = "";

                        var doesProductHaveAFreeVariation =
                            Model.Product
                                .MixedProductAttributes
                                .Any(p => p.MixedProductAttributePrice == 0 && p.MixedProductAttributeQuantityInStock > 0);

                        int? minimumPrice =
                            Model.Product
                                .MixedProductAttributes
                                .Where(p => p.MixedProductAttributeQuantityInStock != 0 && p.MixedProductAttributePrice != 0)
                                .Min(p => (int?)p.MixedProductAttributePrice);

                        int? maximumPrice =
                            Model.Product
                                .MixedProductAttributes
                                .Where(p => p.MixedProductAttributeQuantityInStock != 0 && p.MixedProductAttributePrice != 0)
                                .Max(p => (int?)p.MixedProductAttributePrice);

                        if ((minimumPrice != null && maximumPrice != null) && minimumPrice != maximumPrice && !doesProductHaveAFreeVariation)
                        {
                            productAttributePriceLabel = $"{minimumPrice} تومان - {maximumPrice} تومان";
                        }
                        else if ((minimumPrice != null && maximumPrice != null) && minimumPrice == maximumPrice && !doesProductHaveAFreeVariation)
                        {
                            productAttributePriceLabel = $"{minimumPrice} تومان";
                        }
                        else if (minimumPrice == null && doesProductHaveAFreeVariation)
                        {
                            productAttributePriceLabel = $"رایگان";
                        }
                        else if (maximumPrice != null && doesProductHaveAFreeVariation)
                        {
                            productAttributePriceLabel = $"رایگان - {maximumPrice} تومان";
                        }

                        <h2 id="price-label">@productAttributePriceLabel</h2>
                        <ul class="list">
                            <li>
                                <span>دسته :</span>
                                @foreach (var category in Model.Product.Categories)
                                {
                                    <a>@category.CategoryName</a>
                                    <span> , </span>
                                }
                            </li>
                            <li>
                                @{
                                    var doesProductHaveAtLastOneAvailableVariation =
                                                    Model.Product
                                                        .MixedProductAttributes
                                                        .Any(p => p.MixedProductAttributeQuantityInStock != 0);
                                }
                                وضعیت :
                                @if (doesProductHaveAtLastOneAvailableVariation)
                                {
                                    <span class='text-success font-weight-bold quantity-in-stock-label'>موجود</span>
                                }
                                else
                                {
                                    <span class='text-danger font-weight-bold quantity-in-stock-label'>ناموجود</span>
                                }
                            </li>
                        </ul>
                        <p class="mb-1 border-top border-bottom-0">
                            @(!string.IsNullOrEmpty(Model.Product.ProductShortDescription)? Model.Product.ProductShortDescription:"")
                        </p>
                        if (doesProductHaveAtLastOneAvailableVariation)
                        {
                            <div class="mb-4 border-bottom">
                                <div class="attributes-section">
                                    @foreach (var productAttribute in Model.Product.ProductAttributes)
                                    {

                                        <div class="row">
                                            <label class="control-label pt-2 col-2">@productAttribute.ProductAttributeName</label>
                                            <select class="form-control col-lg-10 col-md-9 col-sm-8 product-attributes">
                                                <option>لطفا انتخاب کنید</option>
                                                @foreach (var productAttributeValue in productAttribute.ProductAttributeValues)
                                                {
                                                    <option value="@productAttributeValue.AttributeValueId">@productAttributeValue.AttributeValue</option>
                                                }
                                            </select>
                                        </div>
                                        <br />
                                    }
                                </div>
                                <div class="d-block text-center mb-2">
                                    <span class="reset_variations text-dark">پاک کردن</span>
                                </div>
                            </div>
                        }

                        if (doesProductHaveAtLastOneAvailableVariation)
                        {
                            <div class="product_count">
                                <label for="qty">تعداد :</label>
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button">
                                    <i class="ti-angle-up"></i>
                                </button>
                                <input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button">
                                    <i class="ti-angle-down"></i>
                                </button>
                                <a id="btn-addtocart" class="button-disabled" href="#">افزودن به سبد خرید</a>
                            </div>
                        }
                        @if (isUserSignedIn)
                        {
                            var isProductInLoggedUserFavoriteProducts =
                                await ProductService.IsProductInLoggedUserFavoriteProducts(Model.Product.ProductId);

                            @if (!isProductInLoggedUserFavoriteProducts)
                            {
                                <div class="card_area d-flex align-items-center">
                                    <a class="icon_btn" asp-action="AddProductToUserFavoriteProducts" asp-route-favoriteProductId="@Model.Product.ProductId" data-toggle="tooltip" data-placement="top" title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                                </div>

                            }
                            else
                            {
                                <div class="card_area d-flex align-items-center">
                                    <a class="icon_btn" asp-action="RemoveProductFromUserFavoriteProducts" asp-route-favoriteProductId="@Model.Product.ProductId" data-toggle="tooltip" data-placement="top" title="حذف از علاقه مندی ها"><i class="bi bi-heart-fill"></i></a>
                                </div>
                            }
                        }
                        else
                        {
                            var returnUrl =
                                Url.Action("ProductDetails", "Product", new { productId = Model.Product.ProductId });
                            <div class="card_area d-flex align-items-center">
                                <a class="icon_btn" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@returnUrl" data-toggle="tooltip" data-placement="top" title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">توضیحات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">مشخصات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-section" role="tab" aria-controls="contact-section"
                   aria-selected="false">نظرات کاربران</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show ck-content" id="home" role="tabpanel" aria-labelledby="home-tab">
                @Html.Raw(Model.Product.ProductDescription)
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            @foreach (var information in Model.Product.Informations)
                            {
                                <tr>
                                    <td>
                                        <h5>@information.Name</h5>
                                    </td>
                                    <td>
                                        <h5>@information.Value</h5>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contact-section" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            @if (Model.Product.Comments.Any())
                            {
                                @foreach (var comment in Model.Product.Comments)
                                {
                                    <div class="review_item border border-info rounded p-2">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4>@comment.User.UserName</h4>
                                                <h5 class="bg-light px-2 d-inline text-dark">@comment.SubmitTime.ToSolarWithTime()</h5>
                                            </div>
                                        </div>
                                        <p>
                                            @comment.CommentDescription
                                        </p>
                                        <div class="text-right mt-2 ">
                                            <a class="reply_btn" href="#">پاسخ</a>
                                            <input type="hidden" value="@comment.CommentId" />
                                        </div>
                                    </div>
                                    if (comment.Replies.Any())
                                    {
                                        var commentReplies =
                                            comment.Replies.Where(p => p.IsConfirmed)
                                                .OrderBy(p => !p.IsAdminReplied);

                                        foreach (var commentReply in commentReplies)
                                        {
                                            <div class="review_item border border-warning rounded p-2 ml-3">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4>
                                                            @commentReply.User.UserName @if (commentReply.IsAdminReplied)
                                                            {<span class="badge badge-danger adminReply">ادمین</span>}
                                                        </h4>
                                                        <h5 class="bg-light px-2 d-inline text-dark">@commentReply.SubmitTime.ToSolarWithTime()</h5>
                                                    </div>
                                                </div>
                                                <p>
                                                    @commentReply.CommentDescription
                                                </p>
                                            </div>
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <p class="alert alert-success">نظری وجود ندارد! شما اولین نفری باشید که دیدگاهتان را ثبت میکنید !</p>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 add-comment-section">
                        @if (!isUserSignedIn)
                        {
                            <div class="alert alert-danger" role="alert">جهت ثبت نظر باید در سایت <a asp-controller="Account" asp-action="Register" class="alert-link">عضو</a> شوید و یا <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("ProductDetails",new {productId=Model.Product.ProductId})" class="alert-link">وارد</a> سایت شده باشید .</div>
                        }
                        else
                        {
                            <div class="review_box">
                                <h4 id="commentTitle">ثبت دیدگاه</h4>
                                <form asp-controller="Media" asp-action="AddCommentToProduct">
                                    @{
                                        TempData["productId"] = Model.Product.ProductId;
                                    }
                                    <div class="form-group">
                                        <textarea class="form-control different-control w-100" id="textarea" cols="30" rows="5" placeholder="نظر خود را وارد نمایید..." style="margin-top: 0px; margin-bottom: 0px; height: 150px;" asp-for="CommentDescription"></textarea>
                                    </div>
                                    <div class="form-group text-center text-md-left mt-3">
                                        <button type="submit" class="button button--active button-review">ثبت</button>
                                    </div>
                                    <input type="hidden" id="parentCommentId" asp-for="ParentCommentId" />
                                    <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
                                </form>
                            </div>
                            if (ViewData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-primary mt-4" role="alert">@ViewData["SuccessMessage"]</div>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        var mixedAttributeValues = [];

        @foreach (var mixedAttribute in Model.Product.MixedProductAttributes)
            {
                var mixedAttributeValue =
                    JsonConvert.SerializeObject(mixedAttribute.MixedProductAttributeValue);

                var mixedAttributePrice =
                    JsonConvert.SerializeObject(mixedAttribute.MixedProductAttributePrice);

                var mixedAttributeQuantityInStock =
                    JsonConvert.SerializeObject(mixedAttribute.MixedProductAttributeQuantityInStock);

                <text>
                    var mixedAttribute =
                    {
                        MixedAttributeValue:@Html.Raw(mixedAttributeValue),
                        MixedAttributePrice:@Html.Raw(mixedAttributePrice),
                        MixedAttributeQuantityInStock:@Html.Raw(mixedAttributeQuantityInStock)
                    };
                </text>

                @:mixedAttributeValues.push(mixedAttribute);
            }

        $(document).ready(function () {

            var firstQuantityInStockLabel = $(".quantity-in-stock-label").text();
            var firstQuantityInStockLabelClass = firstQuantityInStockLabel === "موجود" ? "text-success" : "text-danger";
            var firstPriceLabel = $("#price-label").text();

            $(".attributes-section").children().last().remove();

            $(".product-attributes").change(function() {
                var productAttributes = $(".product-attributes").find(":selected");
                var productAttributesValues = [];
                for (var i = 0; i < productAttributes.length; i++) {
                    productAttributesValues[i] = productAttributes[i].innerHTML;
                }
                if (!productAttributesValues.includes("لطفا انتخاب کنید")) {
                    var requiredMixedValues = productAttributesValues.toString().replaceAll(",", "-").toEnglishNumbers();
                    for (var p = 0; p < mixedAttributeValues.length; p++) {
                        if (mixedAttributeValues[p].MixedAttributeValue === requiredMixedValues) {
                            //var price = mixedAttributeValues[p].MixedAttributePrice !== 0 ? mixedAttributeValues[p].MixedAttributePrice + " تومان" : "رایگان";
                            //$("#price-label").text(price);
                            //ConvertNumberToPersion();
                            //alert(mixedAttributeValues[p].MixedAttributeValue + "  ---  " + mixedAttributeValues[p].MixedAttributePrice + "  ---  " + mixedAttributeValues[p].MixedAttributeQuantityInStock);
                            var price = mixedAttributeValues[p].MixedAttributePrice;
                            var quantityInStock = mixedAttributeValues[p].MixedAttributeQuantityInStock;
                            if (quantityInStock === 0) {
                                $(".product_count").css("display", "none");
                                $(".quantity-in-stock-label").removeClass("text-success");
                                $(".quantity-in-stock-label").addClass("text-danger");
                                $(".quantity-in-stock-label").text("ناموجود");
                            } else {
                                if (price !== 0) {

                                    var priceLabel = price + " تومان";
                                    $("#price-label").text(priceLabel);
                                    setStylesForAvailableProductsAttributes();
                                    ConvertNumberToPersion();

                                } else {

                                    $("#price-label").text("رایگان");
                                    $(".product_count").css("display", "inline-block");
                                    setStylesForAvailableProductsAttributes();

                                }
                            }
                        }
                    }
                } else {

                    restAttributeStylesForDefault();
                }
            });

            $(".reset_variations").click(function() {
                restAttributesStyles();
            });

            function restAttributesStyles() {
                restAttributeStylesForDefault();
                var defaultText = "لطفا انتخاب کنید";
                $(".product-attributes option:contains(" + defaultText + ")").prop("selected", true);

            }

            function restAttributeStylesForDefault() {
                $("#price-label").text(firstPriceLabel);
                $(".quantity-in-stock-label").text(firstQuantityInStockLabel);

                if (firstQuantityInStockLabelClass === "text-success") {

                    $(".quantity-in-stock-label").removeClass("text-danger");
                    $(".quantity-in-stock-label").addClass("text-success");

                } else {

                    $(".quantity-in-stock-label").removeClass("text-success");
                    $(".quantity-in-stock-label").addClass("text-danger");

                }
                $(".product_count").css("display", "inline-block");
                $("#btn-addtocart").removeClass("button primary-btn");
                $("#btn-addtocart").addClass("button-disabled");
            }

            function setStylesForAvailableProductsAttributes() {
                $(".product_count").css("display", "inline-block");
                $("#btn-addtocart").removeClass("button-disabled");
                $("#btn-addtocart").addClass("button primary-btn");
                $(".quantity-in-stock-label").removeClass("text-danger");
                $(".quantity-in-stock-label").addClass("text-success");
                $(".quantity-in-stock-label").text("موجود");
            }

            $(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $(".reply_btn").click(function() {

                $("#parentCommentId").val($(this).next().val());

                document.getElementById("commentTitle").innerText = "ثبت پاسخ";

                var coordinateTop = $("textarea").offset().top - 145;
                $("textarea").addClass("border border-danger rounded shadow-lg");
                $("textarea").attr("placeholder", "پاسخ خود را وارد نمایید...");

                $("html, body").animate({
                        scrollTop: coordinateTop
                    },
                    1000);
            });
        });

    </script>

    <script src="~/vendors/ckeditor5/build/ckeditor.js"></script>

}
