@using System.Text.RegularExpressions
@model Aroma_Shop.Application.ViewModels.Product.ProductViewModel
@using Aroma_Shop.Application.Interfaces
@using Aroma_Shop.Application.Utilites
@using Aroma_Shop.Domain.Models.FileModels

@inject IAccountService AccountService
@inject IProductService ProductService


@{
    ViewData["Title"] = Model.Product.ProductName;
    var isUserSignedIn =
        AccountService.IsUserSignedIn();
}

<link href="~/vendors/ckeditor5/ckeditor-styles.css" rel="stylesheet" />

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            @{
                                string productImagePath;
                                if (Model.Product.Images.Any())
                                {
                                    productImagePath = $"/img/{Model.Product.Images.FirstOrDefault().ImagePath}";
                                }
                                else
                                {
                                    productImagePath = Image.DefaultImagePath;
                                }
                            }
                            <img class="product-image-detail" src="@productImagePath" alt="First slide">
                        </div>
                        @if (Model.Product.Images.Count > 1)
                        {
                            @foreach (var productImage in Model.Product.Images.Skip(1))
                            {
                                <div class="carousel-item">
                                    <img class="product-image-detail" src="~/img/@productImage.ImagePath" alt="First slide">
                                </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="40" height="40" fill="currentColor" class="text-dark bi bi-arrow-left-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                        <span class="sr-only">قبلی</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="40" height="40" fill="currentColor" class="text-dark bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                        </svg>
                        <span class="sr-only">بعدی</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.Product.ProductName</h3>
                    <h2>@Model.Product.ProductPrice تومان</h2>
                    <ul class="list">
                        <li>
                            <span>دسته :</span>
                            @foreach (var category in Model.Product.Categories)
                            {
                                <a>@category.CategoryName</a> <span> , </span>
                            }
                        </li>
                        <li>
                            وضعیت : @if (Model.Product.ProductQuantityInStock > 0)
                            {
                                <span class='text-success'>موجود</span>
                            }
                            else
                            {
                                <span class='text-danger'>ناموجود</span>
                            }
                        </li>
                    </ul>
                    <p class="mb-4">
                        @(!string.IsNullOrEmpty(Model.Product.ProductShortDescription)? Model.Product.ProductShortDescription:"")
                    </p>
                    <div class="product_count">
                        <label for="qty">تعداد :</label>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="ti-angle-up"></i>
                        </button>
                        <input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="ti-angle-down"></i>
                        </button>
                        <a id="btn-addtocart" class="button primary-btn" href="#">افزودن به سبد خرید</a>
                    </div>
                    @if (isUserSignedIn)
                    {
                        var isProductInLoggedUserFavoriteProducts =
                            await ProductService.IsProductInLoggedUserFavoriteProducts(Model.Product.ProductId);

                        @if (!isProductInLoggedUserFavoriteProducts)
                        {
                            <div class="card_area d-flex align-items-center">
                                <a class="icon_btn" asp-action="AddProductToUserFavoriteProducts" asp-route-favoriteProductId="@Model.Product.ProductId" data-toggle="tooltip" data-placement="top" title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                            </div>

                        }
                        else
                        {
                            <div class="card_area d-flex align-items-center">
                                <a class="icon_btn" asp-action="RemoveProductFromUserFavoriteProducts" asp-route-favoriteProductId="@Model.Product.ProductId" data-toggle="tooltip" data-placement="top" title="حذف از علاقه مندی ها"><i class="bi bi-heart-fill"></i></a>
                            </div>
                        }
                    }
                    else
                    {
                        var returnUrl =
                            Url.Action("ProductDetails", "Product", new { productId = Model.Product.ProductId });
                        <div class="card_area d-flex align-items-center">
                            <a class="icon_btn" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@returnUrl" data-toggle="tooltip" data-placement="top" title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">توضیحات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">مشخصات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">نظرات کاربران</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show ck-content" id="home" role="tabpanel" aria-labelledby="home-tab">
                @Html.Raw(Model.Product.ProductDescription)
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            @foreach (var information in Model.Product.Informations)
                            {
                                <tr>
                                    <td>
                                        <h5>@information.Name</h5>
                                    </td>
                                    <td>
                                        <h5>@information.Value</h5>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            @if (Model.Product.Comments.Any())
                            {
                                @foreach (var comment in Model.Product.Comments)
                                {
                                    <div class="review_item border border-info rounded p-2">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4>@comment.User.UserName</h4>
                                                <h5 class="bg-light px-2 d-inline text-dark">@comment.SubmitTime.ToSolarWithTime()</h5>
                                            </div>
                                        </div>
                                        <p>
                                            @comment.CommentDescription
                                        </p>
                                        <div class="text-right mt-2 ">
                                            <a class="reply_btn" href="#">پاسخ</a>
                                            <input type="hidden" value="@comment.CommentId" />
                                        </div>
                                    </div>
                                    if (comment.Replies.Any())
                                    {
                                        var commentReplies =
                                            comment.Replies.Where(p => p.IsConfirmed)
                                                .OrderBy(p => !p.IsAdminReplied);

                                        foreach (var commentReply in commentReplies)
                                        {
                                            <div class="review_item border border-warning rounded p-2 ml-3">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4>
                                                            @commentReply.User.UserName @if (commentReply.IsAdminReplied)
                                                            {<span class="badge badge-danger adminReply">ادمین</span>}
                                                        </h4>
                                                        <h5 class="bg-light px-2 d-inline text-dark">@commentReply.SubmitTime.ToSolarWithTime()</h5>
                                                    </div>
                                                </div>
                                                <p>
                                                    @commentReply.CommentDescription
                                                </p>
                                            </div>
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <p class="alert alert-success">نظری وجود ندارد! شما اولین نفری باشید که دیدگاهتان را ثبت میکنید !</p>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 add-comment-section">
                        @if (!isUserSignedIn)
                        {
                            <div class="alert alert-danger mt-1" role="alert">جهت ثبت نظر باید در سایت <a asp-controller="Account" asp-action="Register" class="alert-link">عضو</a> شوید و یا <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("ProductDetails",new {productId=Model.Product.ProductId})" class="alert-link">وارد</a> سایت شده باشید .</div>
                        }
                        else
                        {
                            <div class="review_box">
                                <h4 id="commentTitle">ثبت دیدگاه</h4>
                                <form asp-controller="Media" asp-action="AddCommentToProduct">
                                    @{
                                        TempData["productId"] = Model.Product.ProductId;
                                    }
                                    <div class="form-group">
                                        <textarea class="form-control different-control w-100" id="textarea" cols="30" rows="5" placeholder="نظر خود را وارد نمایید..." style="margin-top: 0px; margin-bottom: 0px; height: 150px;" asp-for="CommentDescription"></textarea>
                                    </div>
                                    <div class="form-group text-center text-md-left mt-3">
                                        <button type="submit" class="button button--active button-review">ثبت</button>
                                    </div>
                                    <input type="hidden" id="parentCommentId" asp-for="ParentCommentId" />
                                    <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
                                </form>
                            </div>
                            if (ViewData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-primary mt-4" role="alert">@ViewData["SuccessMessage"]</div>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            })

            $(".reply_btn").click(function () {

                $("#parentCommentId").val($(this).next().val());

                document.getElementById("commentTitle").innerText = "ثبت پاسخ";

                var coordinateTop = $("textarea").offset().top - 145;
                $("textarea").addClass("border border-danger rounded shadow-lg");
                $("textarea").attr("placeholder", "پاسخ خود را وارد نمایید...");

                $("html, body").animate({
                    scrollTop: coordinateTop
                }, 1000);
            });
        });
    </script>

    <script src="~/vendors/ckeditor5/build/ckeditor.js"></script>

}
