@using Aroma_Shop.Application.Interfaces

@inject IAccountService AccountService
@inject IMediaService MediaService
@inject IProductService ProductService

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - پیشخوان</title>
    <link rel="stylesheet" href="~/vendors/bootstrap/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/css/admin/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="~/vendors/tags/tags.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="rtl">


    <!--================ Start Header Menu Area =================-->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-2 px-3" asp-area="" asp-controller="Home" asp-action="Index">فروشگاه آروما</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @{
            var loggedUser =
                await AccountService.GetLoggedUserAsync();

            var loggedUserRole =
                await AccountService
                    .GetUserRoleAsync(loggedUser);
        }
        <span class="badge badge-primary mr-auto ml-2 p-2 dashbord-welcome-badge">@loggedUser.UserName خوش آمدید</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form asp-area="" asp-controller="Account" asp-action="LogOut">
                    <a id="logout-a-submit" class="nav-link text-light">خروج</a>
                </form>
            </li>
        </ul>
    </nav>
    <!--================ End Header Menu Area =================-->

    <div class="container-fluid">
        <div class="row">
            <!--================ Start Right Menu Area =================-->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-door"></i>
                                پیشخوان
                            </a>
                        </li>
                        <li class="nav-item ">
                            @{
                                var unSeenOrdersCount =
                                    await ProductService.GetUnSeenOrdersCountAsync();

                                var isThereAnyUnSeenOrder =
                                    unSeenOrdersCount != 0;
                            }
                            <a class="nav-link dropdown-btn products-dashbord-menu">
                                <i class="bi bi-file-earmark"></i>
                                سفارشات
                                @if (isThereAnyUnSeenOrder)
                                {<span class="badge badge-danger">@unSeenOrdersCount</span>}
                            </a>
                            <div class="dropdown-container">
                                <a class="dropdown-item" asp-controller="Order" asp-action="Index">
                                    سفارشات
                                    @if (isThereAnyUnSeenOrder)
                                    {<span class="badge badge-danger">@unSeenOrdersCount</span>}
                                </a>
                                <a class="dropdown-item" asp-controller="Order" asp-action="Discounts">تخفیف ها</a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link dropdown-btn products-dashbord-menu">
                                <i class="bi bi-files"></i>
                                صفحه ها
                            </a>
                            <div class="dropdown-container">
                                <a class="dropdown-item" asp-controller="Page" asp-action="Index">همه صفحه ها</a>
                                <a class="dropdown-item" asp-controller="Page" asp-action="CreatePage">ساخت صفحه</a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link dropdown-btn products-dashbord-menu">
                                <i class="bi bi-cart"></i>
                                محصولات
                            </a>
                            <div class="dropdown-container">
                                <a class="dropdown-item" asp-controller="Product" asp-action="Index">همه محصولات</a>
                                <a class="dropdown-item" asp-controller="Product" asp-action="AddProduct">افزودن محصول</a>
                                <a class="dropdown-item" asp-controller="Product" asp-action="Categories">دسته بندی ها</a>
                            </div>
                        </li>
                        @if (loggedUserRole != "Writer")
                        {
                            <li class="nav-item ">
                                <a class="nav-link dropdown-btn products-dashbord-menu">
                                    <i class="bi bi-people"></i>
                                    کاربران
                                </a>
                                <div class="dropdown-container">
                                    <a class="dropdown-item" asp-controller="User" asp-action="Index">همه کاربران</a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="CreateUser">افزودن کاربر</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Media" asp-action="Messages">
                                <i class="bi bi-envelope"></i>
                                صندوق پیام ها @if (await (MediaService.GetUnreadMessagesCountAsync()) != 0)
                                {<span class="badge badge-danger">@await MediaService.GetUnreadMessagesCountAsync()</span>}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Media" asp-action="Comments">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                دیدگاه ها @if (await (MediaService.GetUnreadCommentsCountAsync()) != 0)
                                {<span class="badge badge-danger">@await MediaService.GetUnreadCommentsCountAsync()</span>}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-btn products-dashbord-menu">
                                <i class="bi bi-images"></i>
                                بنر ها
                            </a>
                            <div class="dropdown-container">
                                <a class="dropdown-item" asp-controller="Media" asp-action="Banners">همه بنر ها</a>
                                <a class="dropdown-item" asp-controller="Media" asp-action="AddBanner">افزودن بنر</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-btn products-dashbord-menu">
                                <i class="bi bi-envelope-open"></i>
                                خبرنامه
                            </a>
                            <div class="dropdown-container">
                                <a class="dropdown-item" asp-controller="Media" asp-action="Newsletters">کاربران خبرنامه</a>
                                <a class="dropdown-item" asp-controller="Media" asp-action="AddNewsletter">افزودن کاربر خبرنامه</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-btn products-dashbord-menu">
                                <i class="bi bi-bar-chart-line"></i>
                                گزارشات
                            </a>
                            <div class="dropdown-container">
                                <a class="dropdown-item" asp-controller="Report" asp-action="Visitors">بازدید ها</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--================ End Right Menu Area =================-->

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <!--================ Start Js Libraries Area  =================-->
    <script src="~/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/admin/dashboard.js"></script>
    <!--================ End Js Libraries Area  =================-->
</body>
</html>